.item{
  background: #C4CEEF;
  border-radius: 34px;
  padding: 40px;
  margin: 40px;
}
.header{
  display: flex;
  justify-content: space-between;
}
.remove{
  cursor: pointer;
}
.img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.wrapper_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}